#zero .hmiddle.slide {
  left: 5%;
  transition: left 1s;
}

#zero.glyph:hover .hmiddle.slide {
  left: 39.5%;
  transition: left 1s;
}

#zero .hmiddle.rotate {
  transform: rotate(0deg);
  transition: transform 3s;
}

#zero.glyph:hover .hmiddle.rotate {
  transform: rotate(360deg);
  transition: transform 1.5s;
}

.skew {
  transform: skewX(-40deg);
  transition: transform 7s;
}

.skew:hover {
  transform: skewX(360deg);
  transition: transform 4s;
}

.spin {
  transform: rotate(-1800deg);
  transition: transform 1s;
}

.spin:hover {
  transform: rotate(360deg);
  transition: transform 8s;
}

.scale {
  transform: scale(1);
  transition: transform 2s;
}

.scale:hover {
  transform: scale(2.8);
  transition: transform 2s;
}
