#zero .hmiddle.slide {
  left: 5%;
  transition: left 1s;
}

#zero.glyph:hover .hmiddle.slide {
  left: 39.5%;
  transition: left 1s;
}

#zero .hmiddle.rotate {
  transform: rotate(0deg);
  transition: transform 3s;
}

#zero.glyph:hover .hmiddle.rotate {
  transform: rotate(360deg);
  transition: transform 1.5s;
}

.skew {
  transform: skewX(-40deg);
  transition: transform 7s;
}

.skew:hover {
  transform: skewX(360deg);
  transition: transform 4s;
}

.spin {
  transform: rotate(-1800deg);
  transition: transform 1s;
}

.spin:hover {
  transform: rotate(360deg);
  transition: transform 8s;
}

.scale {
  transform: scale(1);
  transition: transform 2s;
}

.scale:hover {
  transform: scale(2.8);
  transition: transform 2s;
}

.scale_down {
  transform: scale(1);
  transition: transform 1s;
}

.scale_down:hover {
  transform: scale(0.45);
  transition: transform 2s;
}

.translate {
  transform: translate(50px);
  transition: transform 2s;
}

.translate:hover {
  transform: translate(-50px);
  transition: transform 2s;
}

.collapse {
  height: 6.25rem;
  transition: height 1s;
}

.collapse:hover {
  height: 4rem;
  transition: height 1s;
}

.appear #a, .appear #p, .appear #e {
  display: none;
}

.flip:hover {
  transform: scaleY(-1);
  transition: transform 1s;
}
