@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: block;
  width: 100%;
  /*background: white;*/
  margin: 0;
  background-image: url();
  background-size: 100%;
  z-index: 1;
}

:root {
  --glyph_width: 14.5rem;
  --glyph_height: calc(var(--glyph_width) * 7 / 14.5);
  --new_height: 0;
  --hstroke: calc(var(--glyph_height) * 0.285);
  --vstroke: 1px;
  --stroke_color: white;
  --num_char: 0;
  --side_bearings: 0.4rem;
  --button_on: blue;
  --button_off: darkgray;
  --height_transition: 0;
}

.wrapper {
  position: relative;
  width: calc(100% - 2 * var(--side_bearings));
  margin: 0;
}

#character_set .wrapper {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  top: 7%;
  left: 3%;
  width: 71%;
}

p {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  top: 7%;
  right: 3%;
  width: 20%;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: blue;
}

section#character_set {
  --stroke_color: black;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  height: 100vh;
}

.bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  background-color: blue;
  height: 100vh;
}

.bar:hover{
  background-color: #0042FF;
  opacity: 0.95;
  cursor: pointer;
}

section#text {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: auto;
  padding-left: calc(3rem + 1.5 * var(--side_bearings));
  --stroke_color: blue;
}

.word {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 2.25rem;
  font-size: 0;
  white-space: nowrap;
}

#main .word {
  margin: calc(30vh / 8 ) auto;
}

#main .glyph {
  --glyph_height: calc(100vh / 10);
  --hstroke: calc(var(--glyph_height) * 0.285);
}

.glyph {
  position: relative;
  display: inline-block;
  width: var(--glyph_width);
  height: var(--glyph_height);
  margin: 0 var(--side_bearings);
  top: 0;
}

#main .word .glyph:hover {
  cursor: pointer;
  --stroke_color: #0042FF;
  opacity: 0.95;
}

.htop, .hmiddle, .hbottom, .vleft, .vmiddle, .vright, .left, .right, .top, .bottom {
  display: block;
  position: absolute;
  background-color: var(--stroke_color);
}

/* horizontal strokes */
.htop {
  width: 100%;
  height: var(--hstroke);
  top: 0;
}

.hmiddle {
  width: 100%;
  height: var(--hstroke);
  top: calc(var(--glyph_height) / 2 - var(--hstroke) / 2);
}

.hbottom {
  width: 100%;
  height: var(--hstroke);
  bottom: 0;
}

/* for horizontal serifs */
.left {
  height: var(--hstroke);
  left: 0;
}

.right {
  height: var(--hstroke);
  right: 0;
}

/* vertical strokes */
.vleft {
  height: 100%;
  width: var(--vstroke);
  left: 0;
}

.vright {
  height: 100%;
  width: var(--vstroke);
  right: 0;
}

/* for vertical serifs */
.top {
  width: var(--vstroke);
  top: 0;
  height: calc(var(--glyph_height) * .425);
}

.bottom {
  width: var(--vstroke);
  bottom: 0;
  height: calc(var(--glyph_height) * .425);
}

#a.glyph {
  width: calc(var(--glyph_width) * 1.15);
}

#a .htop {
  width: 80%;
  left: 10%;
}

#a .hmiddle {
  width: 60%;
  left: 20%;
}

#a .hbottom.right, #a .hbottom.left {
  width:48%;
}

#a .vleft {
  left:20%;
}

#a .vright {
  right:20%;
}

#b .hmiddle {
  width: 80%;
  left: 20%;
}

#b .vleft {
  left: 20%;
}

#c.glyph, #o.glyph, #q.glyph, #zero.glyph {
  width: calc(var(--glyph_width) * 0.9);
}

#d .vleft {
  left: 20%;
}

#e .hmiddle {
  left: 20%;
  width: 70%;
}

#e .vleft {
  left: 20%;
}

#f .hmiddle {
  left: 20%;
  width: 58%;
}

#f .hbottom {
  width: 64%;
}

#f .vleft {
  left: 20%;
}

#g.glyph, #o_umlaut.glyph {
  width: calc(var(--glyph_width) * 0.95);
}

#g .hmiddle {
  right: 0;
  width: 94%;
}

#g .vright.bottom {
  height: calc(var(--hstroke) * 2);
  bottom: -1rem;
}

#h.glyph {
  width: calc(var(--glyph_width) * 1.2);
}

#h .htop.left, #h .htop.right,  #h .hbottom.left, #h .hbottom.right {
  width: 48%;
}

#h .hmiddle {
  left: 16%;
  width: 68%;
}

#h .vleft {
  left: 16%;
}

#h .vright {
  right: 16%;
}

#i .vleft {
  left: 50%;
}

#j.glyph {
  width: calc(var(--glyph_width) * 1.15);
}

#j .htop {
  width: 62%;
  right: 0;
}

#j .hbottom {
  width: 80%;
}

#j .vright {
  right: 20%;
}

#k.glyph {
  width: calc(var(--glyph_width) * 1.25);
}

#k .htop.left,  #k .hbottom.left, #k .hbottom.right {
  width: 48%;
}

#k .htop.right {
  width: 39%;
  right: 9%;
}

#k .hmiddle {
  left: 16%;
  width: 64%;
}

#k .vleft {
  left: 16%;
}

#k .vright.top {
  right: 30%;
}

#k .vright.bottom {
  right: 20%;
}

#l .htop {
  width: 60%;
}

#l .vleft {
  left: 20%;
}

#l .vright.bottom {
  height: calc(var(--hstroke) * 1.75);
}

#m.glyph {
  width: calc(var(--glyph_width) * 1.45);
}

#m .htop {
  width: 85%;
}

#m .hbottom.left, #m .hbottom.right {
  width: 35%;
}

#m .hbottom.middle {
  position: absolute;
  left: 38.75%;
  width: 23%;
  height: var(--hstroke);
}

#m .vleft {
  left: 15%;
}

#m .vmiddle {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 1px;
}

#m .vright {
  right: 15%;
}

#n.glyph {
  width: calc(var(--glyph_width) * 1.15);
}

#n .htop {
  width: 82%;
}

#n .hbottom.left, #n .hbottom.right {
  width: 48%
}

#n .vleft {
  left: 18%;
}

#n .vright {
  right: 18%;
}

#o_umlaut .htop.left, .htop.right {
  width: 47.5%;
}

#p .hmiddle {
  left: 20%;
  width: 80%;
}

#p .hbottom {
  width: 64%;
}

#p .vleft {
  left: 20%;
}

#p .vright.top {
  height: 50%;
}

#r.glyph {
  width: calc(var(--glyph_width) * 1.18);
}

#r .htop {
  width: 86%;
}

#r .hmiddle {
  left: 17%;
  width: 69%;
}

#r .hbottom.left {
  width: 52%;
}

#r .hbottom.right {
  width: 44%;
}

#r .vleft {
  left: 17%;
}

#r .vright.top {
  right: 14%;
  height: 50%;
}

#r .vright.bottom {
  right: 26%;
  height: 50%;
}

#q .vleft.bottom {
  left: 50%;
  height: calc(var(--hstroke) * 2);
  bottom: -1rem;
}

#s.glyph, #z.glyph, #two.glyph, #five.glyph {
  width: calc(var(--glyph_width) * 0.925);
}

#s .hmiddle {
  height: 1px;
  top: 50%;
}

#s .vleft.top, #s .vright.bottom {
  height: 50%;
}

#t .hbottom {
  left: 22.5%;
  width: 55%;
}

#t .vleft {
  left: 50%;
}

#t .vleft.top {
  left: 0;
}

#u.glyph {
  width: calc(var(--glyph_width) * 1.2);
}

#u .htop.left, #u .htop.right {
  width: 48%;
}

#u .hbottom {
  left: 15%;
  width: 70%;
}

#u .vleft {
  left: 15%;
}

#u .vright {
  right: 15%;
}

#v.glyph {
  width: calc(var(--glyph_width) * 1.2);
}

#v .htop.left {
  width: 52%;
}

#v .htop.right {
  width: 44%;
}

#v .hbottom {
  left: 16%;
  width: 63%;
}

#v .vleft {
  left: 16%;
}

#v .vright {
  right: 21%;
}

#w.glyph {
  width: calc(var(--glyph_width) * 1.35);
}

#w .htop.left, #w .htop.right {
  width: 35%;
}

#w .htop.middle {
  position: absolute;
  left: 39%;
  width: 22.5%;
  height: var(--hstroke);
}

#w .hbottom {
  left: 14%;
  width: 72%;
}

#w .vleft {
  left: 14%;
}

#w .vmiddle {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 1px;
}

#w .vright {
  right: 14%;
}

#x.glyph {
  width: calc(var(--glyph_width) * 1.15);
}

#x .htop.left,  #x .htop.right, #x .hbottom.left, #x .hbottom.right {
  width: 48%;
}

#x .hmiddle {
  left: 16%;
  width: 68%;
}

#x .vleft.top {
  left: 30%;
}

#x .vleft.bottom {
  left: 16%;
}

#x .vright.top {
  right: 30%;
}

#x .vright.bottom {
  right: 16%;
}

#y.glyph {
  width: calc(var(--glyph_width) * 1.2);
}

#y .htop.left, #y .htop.right {
  width: 48%;
}

#y .hmiddle {
  width: 68%;
  right: 16%;
}

#y .hbottom {
  width: 50%;
  left: 25%;
}

#y .vleft.top {
  left: 16%;
}

#y .vleft.bottom {
  left: 50%;
}

#y .vright.top {
  right: 16%;`
}

#z .hmiddle {
  height: 1px;
  top: 50%;
}

#z .hmiddle.dot {
  width: 20%;
  min-width: var(--hstroke);
  left: 0;
  right: 0;
  margin: auto;
  top: calc(var(--glyph_height) * .3575);
  height: var(--hstroke);
}

#z .vleft.bottom, #z .vright.top {
  height: 50%;
}

#space.glyph {
  width: calc(var(--glyph_width) * 0.6);
}

#zero .hmiddle {
  width: 21%;
  min-width: var(--hstroke);
  left: 0;
  right: 0;
  margin: auto;
}

#one.glyph {
  width: calc(var(--glyph_width) * .85);
}

#one .htop {
  width: 40%;
  left: 15.25%;
}

#one .vleft {
  left: 55%;
}

#three.glyph {
  width: calc(var(--glyph_width) * 0.95)
}

#three .hmiddle {
  width: 90%;
  left: 10%;
}

#four.glyph {
  width: calc(var(--glyph_width) * .95);
}

#four .htop {
  width: 80%;
}

#four .hmiddle {
  width: 100%;
}

#four .hbottom {
  width: 64%;
  right: 0;
}

#four .vright {
  right: 20%;
}

#six .htop {
  width: 95%;
}

#seven.glyph {
  width: calc(var(--glyph_width) * 0.95);
}

#seven .hmiddle {
  width: 21.5%;
  right: 7%;
}

#seven .hbottom {
  width: 52%;
  right: 0;
}

#seven .vright {
  right: 16%;
}

#eight .htop {
  left: 12%;
  width: 76%;
}

#eight .vleft.top {
  left: 12%;
}

#eight .vright.top {
  right: 12%;
}

#nine .hbottom {
  width: 95%;
  right: 0;
}

/* words */

.clicked {
  opacity: 1;
  transition: opacity 1s;
}

/* transformation icons */

.transformation_icons {
  --stroke_color: var(--button_off);
  --num_char: 11.5;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings) - 1px);
  transform: scale(0.75);
  position: relative;
  display: block;
  width: auto;
  margin: 6rem 0 0 0;
  font-size: 0;
}

#hamburger, #sausage, #link, #magnet, #i.button, #b.button {
  opacity: 0;
}

#hamburger .htop {
  border-top-left-radius: var(--hstroke);
  border-top-right-radius: var(--hstroke);
}

#hamburger .hbottom {
  border-bottom-left-radius: var(--hstroke);
  border-bottom-right-radius: var(--hstroke);
}

#sausage .htop, #sausage .hbottom, #sausage .hmiddle {
  border-radius: calc(var(--hstroke) / 2);
}

#link .hmiddle {
  width: 40%;
  transition: width 1s;
}

#link:hover .hmiddle {
  width: 50%;
  transition: width 0.5s;
}

#magnet .htop {
  top: 0;
  transition: top 0.5s;
}

#magnet:hover .htop {
  top: calc(50% - var(--hstroke));
  transition: top 0.5s;
}

#magnet .hbottom {
  bottom: 0;
  transition: bottom 0.5s;
}

#magnet:hover .hbottom {
  bottom: calc(50% - var(--hstroke));
  transition: bottom 0.5s;
}

#b.button {
  display: inline-block;
}

#b.button .htop, #b.button .hmiddle, #b.button .hbottom, #b.button .vleft, #b.button .vright {
  transition: background-color 1s;
}

#b.button:hover, #b.button:hover .htop, #b.button:hover .hmiddle, #b.button:hover .hbottom, #b.button:hover .vleft, #b.button:hover .vright {
  --stroke_color: black;
  opacity: 1;
  transition: background-color 1s, opacity 1s;
}

#w.button {
  display: none;
}

#w.button .htop, #w.button .hmiddle, #w.button .hbottom, #w.button .vleft, #w.button .vmiddle, #w.button .vright {
  transition: background-color 1s;
}

#w.button:hover, #w.button:hover .htop, #w.button:hover .hmiddle, #w.button:hover .hbottom, #w.button:hover .vleft, #w.button:hover .vmiddle, #w.button:hover .vright {
  --stroke_color: white;
  opacity: 1;
  transition: background-color 1s, opacity 1s;
}

#i.button {
  background-color: var(--button_off);
  --stroke_color: white;
  transition: background-color 1s;
  border: 1px solid var(--button_off);
}

/* legibility */

.horizontal {
  --num_char: 10.405;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.horizontal #z .dot {
  background-color: gray;
  transition: background-color 0.5s;
}

.horizontal #z:hover .dot {
  background-color: black;
  transition: background-color 0.5s;
}

.emphasis {
  --num_char: 8.65;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.and_serifs_aid {
  --num_char: 13.68;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.legibility {
  --num_char: 10.15;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* contrasting */

.contrasting {
  --num_char: 11.305;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.with {
  --num_char: 4.55;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.convention {
  --num_char: 10.35;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.nina_stossinger {
  --num_char: 15.205;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* law */

.i_follow_the {
  --num_char: 11.875;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.spirit {
  --num_char: 6.105;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.of_the_law {
  --num_char: 10.1;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.not_the {
  --num_char: 7.1;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.letter {
  --num_char: 6.18;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* rational */

.rational {
  --num_char: 8.53;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.justified {
  --num_char: 9.275;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.but_still {
  --num_char: 8.725;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.super {
  --num_char: 5.305;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.dumb {
  --num_char: 4.65;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* truth */

section#truth .word .glyph {
  --stroke_color: white;
  opacity: 0.95;
}

.do_you_want {
  --num_char: 11.05;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.typo {
  --num_char: 4.1;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.graphy {
  --num_char: 6.68;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.or_do_you_want_the {
  --num_char: 17.63;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.truth {
  --num_char: 5.58;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* fonts */

.hamburger .glyph {
  --num_char: 10.31;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.hamburger .glyph .htop {
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.hamburger .glyph .hmiddle {
  border-radius: 0;
}

.hamburger .glyph .hbottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

/*
.hamburger #h.glyph .htop {
  border-top-left-radius: var(--hstroke);
  border-top-right-radius: var(--hstroke);
}

.hamburger #h.glyph .hbottom {
  border-bottom-left-radius: var(--hstroke);
  border-bottom-right-radius: var(--hstroke);
}
*/

.cake {
  --num_char: 4.3;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.sausage {
  --num_char: 7.3;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.sausage .glyph .htop, .sausage .glyph .hbottom, .sausage .glyph .hmiddle {
  border-radius: calc(var(--hstroke) / 2);
}

.link .glyph {
  --num_char: 4.4;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
  --side_bearings: 0.4rem;
  margin: 0 var(--side_bearings);
  transition: margin 1s, width 1s;
}

.link:hover .glyph {
  --side_bearings: 0rem;
  margin: 0 calc(var(--vstroke) / -2);
  transition: margin 0.5s, width 0.5s;
}

.magnet {
  --num_char: 6.7;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
  margin: 2.2rem 0;
  transition: margin 1.5s ease-out;
}

.magnet:hover {
  margin: -2.2rem 0;
  transition: margin 1s 1s ease-in;
}

.counter .glyph {
  --num_char: 7.33;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
  background-color: black;
  transition: background-color 0.5s ease-in;
}

.counter:hover .glyph {
  background-color: white;
  transition: background-color 0.75s ease-out;
}

.counter .htop, .counter .hmiddle, .counter .hbottom,
.counter .vleft, .counter .vmiddle, .counter .vright {
  --stroke_color: white;
  transition: background-color 2.75s ease-out;
}

.counter:hover .htop, .counter:hover .hmiddle, .counter:hover .hbottom,
.counter:hover .vleft, .counter:hover .vmiddle, .counter:hover .vright {
  --stroke_color: black;
  transition: background-color 0.25s;
}


/* text_based_communities */
.expansion_of {
  --num_char: 11.875;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.text {
  --num_char: 4.15;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.based {
  --num_char: 5.075;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.communities {
  --num_char: 11.825;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

/* breakpoint trials
@media only screen and (max-width: 1350px) {
  .wrapper {
    transform: rotate(90deg);
    width: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    transform: rotate(0deg);
    width: 100%;
    margin: 2em;
  }
  .glyph {
    margin: 0.19rem -0.19rem;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --glyph_width: 10%;
    --glyph_height: 30vh;
  }
  .glyph {
    margin: 0.2rem;
  }
}

*/

.rectangle {
  --stroke_color: blue;
  --num_char: 9.33;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
  margin-bottom: 5rem;
}

.abcdef {
  --num_char: 6.05;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.ghijkl {
  --num_char: 6.55;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.mnopqr {
  --num_char: 6.58;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.stuvwx {
  --num_char: 6.825;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.yz0123 {
  --num_char: 5.825;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

._456789 {
  --num_char: 5.825;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.edge {
  --num_char: 3.95;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.buttons_not_words {
  --num_char: 16.78;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.boxes_not_strokes {
  --num_char: 16.45;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.expansion {
  --num_char: 9.425;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.pixels_not_atoms {
  --num_char: 15.75;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.users_not_people {
  --num_char: 15.45;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.consumption {
  --num_char: 11.575;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}

.efficiency {
  --num_char: 10.15;
  --glyph_width: calc(100% / var(--num_char) - 2 * var(--side_bearings));
}
